.content{
    
    @include breakpoint(small){
        width: 64%;
        float: left;
    }
    
}

.questionlist{
    padding: 0;
    margin: 0;
    
    &__item{
        list-style-type: none;
        background-color: white;
        padding: 25px 20px;
        border-bottom: 1px solid $mystic;
        background: url(../images/arrow-down.png) white no-repeat center right 20px;
        background-size: 16px 16px;
        
        &:hover{
            background-color: $porcelain;
        }

        &--collapsed{
            @extend .questionlist__item;
        }
        
        &__nr{
            font-size: 3.0rem;
            color: $aqua-haze;
            font-weight: 500;
            display: block;
            float: left;
        }
        
        &__question{
            font-size: 1.8rem;
            color: $oxford-blue;
            font-weight: 500;
            display: block;
            margin-left: 35px;
            margin-right: 20px;
        }
        
        &__askedby{
            display: block;
            margin-left: 35px;
            padding-top: 5px;
        }
    }
}

//all answers to a question

.question{
    &__replylist{
        background-color: white;
        border-bottom: 1px solid $mystic;
        display: none;
    }
    
    &__reply{
        list-style-type: none;
        padding: 20px;
        &:nth-child(odd){
            background-color: $porcelain;
        }
        
        &__username{
            color: $oxford-blue;
            font-weight: 500;
            margin: 5px 0 0 35px;
            display: block;
        }
        
        &__answer{
            margin-bottom: 0;
        }
        
        &__avatar{
            border-radius: 50%;
            width: 26px;
            height: 26px;
            background-color: white;
            float: left;
        }
    }
    
    &__addreply{
        padding: 20px;
        
        &__input{
            box-sizing: border-box;
            width: 75%;
            padding: 10px;
            border-radius: 4px 0 0 4px;
            border: none;
            border: 1px solid $mystic;
        }
        
        &__button{
            background-color: $jungle-green;
            color: white;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.5rem;
            padding: 10px;
            border: none;
            margin: 0;
            width: 25%;
            float: right;
            border-radius: 0 4px 4px 0;
            
            &:hover{
                background-color: $jungle-green-dark;
            }
        }
    }
}