.pagetitle--create-discussion{
    @extend .pagetitle;
        background-image: url(../images/icon_create-discussion.png);
}

.create-form{
    padding: 20px;
    
    &__label{
        margin-right: 12px;
        color: $oxford-blue;
    }
    
    &__input{
        width: 300px;
        
    }
    
    &__button{
        text-decoration: none;
    }
}