

.discussionlist{
    padding: 0;
    margin: 0;
    
    &__item{
        list-style-type: none;
        background-color: white;
        padding: 25px 20px;
        border-bottom: 1px solid $mystic;
        background-size: 16px 16px;
        display: block;
        text-decoration: none;
        
        &:hover{
            background-color: $porcelain;
        }

        &--collapsed{
            @extend .questionlist__item;
        }
        
        &__question{
            font-size: 1.6rem;
            color: $oxford-blue;
            font-weight: 500;
            display: block;
            
            @include breakpoint(small){
                font-size: 1.8rem;
            }
        }
        
        &__startedby{
            display: block;
            padding-top: 5px;
            float: left;
        }
        &__distance{
            display: block;
            padding-top: 5px;
            float: right;
        }
    }
}

.create-discussion{
    display: block;
    text-align: center;
    margin: 0;
    padding: 15px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $mystic;
    
    background: url(../images/icon_create-discussion_grey.png) $aqua-haze no-repeat center left 12px;
    
    &:hover{
        border: none;
        background: url(../images/icon_create-discussion_white.png) $jungle-green no-repeat center left 12px;
    }
    
    @include breakpoint(small){
        float: right;
        display: block;
        position: relative;
        top: -65px;
        margin-right: 20px;
        border: 1px solid $mystic;
        border-radius: 4px;
        padding: 12px 12px 12px 40px;
        
        
        &:hover{
            border: 1px solid $jungle-green;
        }
    }
}