.headerwrapper{
    background-color: $oxford-blue;
}

header{
    overflow: hidden;
    
    @include breakpoint(medium){
        margin: 0 auto;
        width: 1024px;
    }
}

.logo{
    display: block;
    text-indent: -9999px;
    width: 128px;
    height: 55px;
    background: url(../images/logo.png) no-repeat center;
    float: left;
    margin: 20px;
}

.burger{
    float: right;
    margin: 38px 35px 0 0;
    width: 22px;
    height: 17px;
    background: url(../images/icon_burger.png) no-repeat center;
    text-indent: -9999px;
    
    @include breakpoint(small){
        display: none;
    }
}

.menu{
    float: right;
    background-color: $oxford-blue-dark;
    width: 100%;
    display: none;
    
    @include breakpoint(small){
        margin-top: 25px;
        margin-right: 20px;
        display: block;
        float: right;
        width: auto;
        background-color: transparent;
    }
    
    &__list__item{
        list-style-type: none;
        display: block;
        width: 100%;
        
        @include breakpoint(small){
            width: auto;
            float: left;
            margin-left: 15px;
        }
    }
    
    &__link{
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.5rem;
        padding: 15px 22px;
        display: block;
        text-align: center;
        @include transition(all 0.1s ease-in);
        
        @include breakpoint(small){
            display: inline-block;
            border-radius: 4px;
            border: 1px solid $oxford-blue-light;
            padding: 12px 22px;
        }
        
        &:hover{
            background-color: $jungle-green;
            border: 1px solid $jungle-green;
        }
        
        &--signIn{
            @extend.menu__link;
            
            background: url(../images/icon_fb.png) no-repeat 22px center ;
            background-size: 15px 15px;
            padding-left: 50px;
            
            border: 1px solid $oxford-blue-light; 
        
            &:hover
            {
                background-color: $jungle-green;
                border: 1px solid $jungle-green;
            }
            
        }
        
        &--signOut{
            @extend.menu__link--signIn;
            background-image: none;
            padding-left: 22px;
        }
  
    }
    
    &__link--nearbydiscussions{
        @extend .menu__link;
        background: url(../images/icon_radar-small-white.png) no-repeat 22px center ;
        background-size: 22px;
        padding-left: 55px;
        
        &:hover{
            background-color: $golden-dream;
            border: 1px solid $golden-dream;
        }
    }
}

.welcome{
    display: block;
    padding: 10px;
    
    &__user{
        color: white;
        position: relative;
        top: -8px;
        margin-left: 10px;
    }
}