.dark-background
{
    background-color: $oxford-blue;
    text-align: center;
}

.logo-big
{
    display: block;
    margin: 30px auto;
    width: 100px;
    
    @include breakpoint(small){
        width: auto;
        margin: 50px auto;
    }
}

h2
{
    font-weight: 100;
    font-size: 2rem;
    color: white;
    
    @include breakpoint(small){
        font-size: 3.0rem;
    }
}

.calltoaction
{
    display: block;
    
    &__link
    {
        display: block;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.5rem;
        padding: 15px 22px;
        text-align: center;
        
        @include breakpoint(small){
            display: inline-block;
            border-radius: 4px;
            padding: 15px 22px;
            margin: 10px;
        }
        
        &--creatediscussion
        {
            @extend .calltoaction__link;
            
            background: url(../images/icon_create-discussion-home.png) no-repeat 15px center ;
            padding-left: 60px;
            background-color: $jungle-green;
        
            &:hover
            {
                background-color: $jungle-green-dark;
            }

        }
        
        &--nearbydiscussions
        {
            @extend .calltoaction__link;
            
            background: url(../images/icon_search-discussions_home.png) no-repeat 15px center ;
            padding-left: 60px;
            background-color: $golden-dream;
        
            &:hover
            {
                background-color: $golden-dream-light;
            }
        }
        
        &--signIn
        {
            @extend .calltoaction__link;
            
            background: url(../images/icon_fb.png) no-repeat 22px center ;
            background-size: 15px 15px;
            padding-left: 50px;
            
            border: 1px solid $oxford-blue-light;
            
            &:hover
            {
                background-color: $facebook-blue;
                border: 1px solid $facebook-blue;
            }
        }
        &--signOut{
            @extend .calltoaction__link--signIn;
            
            background: none;
            padding-left: 22px;
        }
    }
}