.sidebar{
    background-color: $aqua-haze;
    
    @include breakpoint(small){
        float: right;
        width: 36%;
    }
}

.sidebar-button{
    padding: 10px 15px 10px 30px;
    border-radius: 4px;
    border: 1px solid $mystic;
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
        background-position: top 10px left 10px ;
    text-decoration: none;
    @include transition(all 0.1s ease-in);
    
    &:hover{
        background-color: $jungle-green;
        color: white;
        border: 1px solid $jungle-green;
    }
}

.locked{
    background: url(../images/icon_lock-big.png) no-repeat top 22px left 20px;
    text-indent: 26px;
}

.discussion{
    &__title{
        padding: 20px 20px 0 20px;
        margin-bottom: 0;
        
    }
    
    &__startedby{
        padding: 5px 20px 20px 20px;
        color: $oxford-blue;
        display: inline-block;
    }
    
    &__info-icon{
        display: block;
        width: 23px;
        height: 23px;
        float: right;
        background: url(../images/icon_info.png) no-repeat center;
        text-indent: -9999px;
        position: relative;
        top: -15px;
        left: -20px;
        
        @include breakpoint(small){
            display: none;
        }
        
    }
    
    &__description{
        padding: 0px 20px 20px 20px;
        display: none;
        
        @include breakpoint(small){
            display: block;
        }
    }
    
    &__lock{
       background-image: url(../images/icon_lock.png);
        &:hover{
            background-image: url(../images/icon_lock-white.png);
        }
    }
    
    &__remove{
        background-image: url(../images/icon_close.png);
        &:hover{
            background-image: url(../images/icon_close-white.png);
        }
    }
    
    &__info{
        border-bottom: 1px solid $mystic;
        border-top: 1px solid $mystic;
        padding: 20px;
        list-style-type: none;
        display: none;
        
        @include breakpoint(small){
            display: block;
        }
        
        &__item{
            margin-bottom: 20px;
            display: block;
            padding-left: 30px;
            color: $oxford-blue;
            
            &:last-child{
                margin-bottom: 0;
            }
            
            &--date{
                @extend .discussion__info__item;
                background: url(../images/icon_date.png) no-repeat left center;
            }
            
            &--nrofquestions{
                @extend .discussion__info__item;
                background: url(../images/icon_nrofquestions.png) no-repeat left center;
            }
            
            &--participating{
                @extend .discussion__info__item;
                background: url(../images/icon_participating.png) no-repeat left center;
            }
        }
    }
    
    &__userlist{
        padding: 20px;
        list-style-type: none;
        display: none;
        
        @include breakpoint(small){
            display: block;
        }
    }
    
    &__user{
        margin-bottom: 10px;
        display: block;
        
        &:last-child{
            margin-bottom: 0;
        }
        
        &__avatar{
            border-radius: 50%;
            width: 26px;
            height: 26px;
            background-color: white;
            float: left;
        }
        
        &__username{
            display: block;
            float: left;
            margin-left: 10px;
            margin-top: 5px;
        }
        
    }
    

}