extends layout

block content
 section.content
   h1.pagetitle--create-discussion Create discussion
   if loggedin
     form.create-form
       label.create-form__label(for='discussion-name') Discussion name
       input.create-form__input#create-form__input(type='text' name='discussion-name' data-latitude='lat' data-longitude='long')
       a.button.create-form__button#create-form__button(href='#') Create
   else
     h3.error You can't create a discussion without logging in!
   .cf