extends layout

block content
    if discussion
      section.sidebar
        if discussion.locked
          h1.discussion__title#discussion__title.locked= discussion.title
        else
          h1.discussion__title#discussion__title= discussion.title
        span.discussion__startedby(data-id= discussion.moderator.id)#discussion__startedby= 'Started by ' + discussion.moderator.name
        a#info-icon.discussion__info-icon(href='#') Collapse info
        .discussion__description#discussion__description
          //p This is a short description of the discussion/event. Not too long, about 5-10 lines max.
          if(user && user.id == discussion.moderator.id)
            if discussion.locked
              a.discussion__lock.sidebar-button#discussion__lock(href='#' data-status='locked') Unlock
            else
              a.discussion__lock.sidebar-button#discussion__lock(href='#' data-status='open') Lock
            a.discussion__remove.sidebar-button(href='#') Remove
        ul#discussion__info.discussion__info
            li.discussion__info__item--date= moment(discussion.date).format("MMMM Do YYYY")
              li.discussion__info__item--nrofquestions#nrofquestions= discussion.questions.length + ' questions'
            li.discussion__info__item--participating#users_participating 0 users participating
        ul#discussion__userlist.discussion__userlist
         //
          li.discussion__user
            img.discussion__user__avatar(src='/images/users/rob-rijken.jpg', alt='')
            span.discussion__user__username Rob Rijken
            .cf
          li.discussion__user
            img.discussion__user__avatar(src='/images/users/bram-de-nyn.jpg', alt='')
            span.discussion__user__username Bram De Nyn
            .cf
          li.discussion__user
            img.discussion__user__avatar(src='/images/users/joris-hens.jpg', alt='')
            span.discussion__user__username Joris Hens
            .cf
          li.discussion__user
            img.discussion__user__avatar(src='/images/users/didier-kerinckx.jpg', alt='')
            span.discussion__user__username Didier Kerinckx
            .cf
      section.content
        ul.questionlist#questionlist(data-id= discussion.id)
          if discussion.questions.length<1
            h3.error--noquestions#error--noquestion Be the first to ask a question
          else
          each question, nr in discussion.questions
            li.questionlist__listitem(data-id=question.id)
              .questionlist__item
                span.questionlist__item__nr= nr+1
                if(user && user.id == discussion.moderator.id)
                  a(data-id=question.id).delete_question Delete
                span.questionlist__item__question= question.title
                span.questionlist__item__askedby= 'Asked by ' + question.user.name
                .cf
              ul.question__replylist(data-id= question.id)
                  if question.comments.length<1
                   if discussion.locked
                   else
                    li.question__reply.error--nocomments Nothing here yet, be the first to leave a reply!
                  else
                  each comment in question.comments
                    li.question__reply(data-id=comment.id)
                      if(user && user.id == discussion.moderator.id)
                       a(data-id=comment.id).delete_comment Delete
                      img.question__reply__avatar(src= comment.user.picture, alt='')
                      span.question__reply__username= comment.user.name
                      p.question__reply__answer= comment.text
                      
                      
                  if discussion.locked
                   li.question__reply.error--nocomments The discussion is locked, you can't leave any more comments
                  else
                   if(user)
                    li.question__addreply
                      form(action='')
                        input.question__addreply__input(type='text')
                        button.question__addreply__button(type='submit') Send
                   else
                    form(action='')
        form.addquestion(action='')
         if discussion.locked
          h3.error The discussion is locked, you can't ask any more questions
         else
          if(user)
           input.addquestion__input#add-question__input(type='text')
           button.addquestion__submit#add-question__button(type='submit') Ask
          else
           h3.error You have te be logged in to ask a question or leave comments.
    else
        h3.error The discussion you requested does not exist or has been removed
      .cf        
