extends layout

block content

 h1.pagetitle Discussions in your area
 a(href='/create').sidebar-button.create-discussion Create discussion
 section.content
        ul.discussionlist#discussionlist
      .cf