doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title
    link(href='http://fonts.googleapis.com/css?family=Roboto:500,400italic,700,400,100', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body.dark-background
    img.logo-big(src='/images/logo_big.png', alt='')
    |     
    h2 The perfect question &amp; answer app for your presentation
    |     
    div.calltoaction
      a.calltoaction__link--creatediscussion(href='create') Create discussion
      |         
      a.calltoaction__link--nearbydiscussions(href='discussions') Nearby discussions
    
    if loggedin
      if user
        span.welcome
          img.avatar(src= user.picture)
          span.welcome__user= user.name
      a.calltoaction__link--signOut(href='/logout') Sign Out 
    else 
      a.calltoaction__link--signIn(href='/auth/facebook') Sign in 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')   
    script(src='../javascripts/interaction.js')
