doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    if discussion
     title= discussion.title
    else
     title= title
    link(href='http://fonts.googleapis.com/css?family=Roboto:500,400italic,700,400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .headerwrapper
      header
        a.logo(href='/') Quapp
        a#burger.burger(href='#') Collapse menu
        nav#menu.menu
          ul.menu__list
            if user
              li.menu__list__item
                span.welcome
                  img.avatar(src= user.picture)
                  span.welcome__user= user.name
            li.menu__list__item
              a.menu__link--nearbydiscussions(href='/discussions') Nearby discussions
            li.menu__list__item
             if loggedin
               a.menu__link--signOut(href='/logout') Sign Out
             else
               a.menu__link--signIn(href='/auth/facebook') Sign In
            .cf
        .cf
    .container
      block content
    
    script(src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/javascripts/interaction.js')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/quapp.js")
    