html{
    font-size: 62.5%;
}

body{
    background-color: $mystic;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.4rem;
    color: $hit-gray;
}

h1{
    font-weight: 500;
    font-size: 2rem;
    color: $oxford-blue;
    
    @include breakpoint(small){
        font-size: 2.4rem;
    }
}

.error{
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    padding: 40px;
    margin: 0px;
    
    &--noquestions{
        @extend .error;
        padding-top: 190px;
        background: url(../images/noquestions.png) white no-repeat center 20px;
    }
}

input[type='text']{
    border-radius: 4px;
    border: 1px solid $mystic;
    box-sizing: border-box;
    padding: 10px 10px;
}

a{
    color: $hit-gray;
}

.cf{
    content: "";
    display: table;
    clear: both;
}


.expand{
    display: block!important;
    overflow: hidden;
}

.container{
    width: 100%;
    background-color: white;
    
    @include breakpoint(medium){
        width: 1024px;
        margin: 0 auto;
    }
}

.pagetitle{
    background: url(../images/icon_radar.png) $aqua-haze no-repeat center left 20px;
    display: block;
    padding: 30px 20px 30px 80px;
    border-bottom: 1px solid $mystic;
}

button, .button{
    background-color: $jungle-green;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px 22px;
    border: none;
    margin: 0;
    margin-left: 12px;
    border-radius: 4px;

    &:hover{
        background-color: $jungle-green-dark;
    }
}

.avatar{
    border-radius: 50%;
    width: 26px;
    height: 26px;
}