//blue
$oxford-blue: #353c4e;
$oxford-blue-light: #454f67;
$oxford-blue-dark: #252a38;

//yellow
$golden-dream: #eec92d;
$golden-dream-light: #e5b125;
$golden-dream-dark: #e8a917;

//green-blue
$jungle-green: #2fad95;
$jungle-green-dark: #259b8d;

//gray
$mystic: #dbe5e8;
$aqua-haze: #f1f6f7;
$porcelain: #fcfdfd;
$hit-gray: #96a5a9;

//facebook blue
$facebook-blue: #3C599B;

@import 'bourbon/bourbon';
@import 'mixins/mixins';
@import 'base';
@import 'modules/header';
@import 'modules/questionlist';
@import 'modules/sidebar';
@import 'modules/create';
@import 'modules/index';

@import 'modules/discussionlist';