@mixin breakpoint($name) {
  @if $name == "small" {
    @media screen and (min-width: 767px) {
      @content;
    }
  }
  @else if $name == "medium" {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
}